html {
  height: 100%; }

body.login {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#336772+0,017f73+100 */
  background: #336772;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #336772 0%, #017f73 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #336772 0%, #017f73 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #336772 0%, #017f73 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336772', endColorstr='#017f73',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.wrapper {
  margin-top: 80px;
  margin-bottom: 20px; }

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: white; }

.form-signin-heading {
  text-align: center;
  margin-bottom: 30px; }

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

input[type="password"],
input[type="email"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.forget-password {
  margin-top: 20px; }

.logo {
  max-width: 220px; }
