.navbar {
  height: 120px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#336772+0,017f73+100 */
  background: #336772;
  /* Old browsers */
  background: -moz-linear-gradient(left, #336772 0%, #017f73 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #336772 0%, #017f73 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #336772 0%, #017f73 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336772', endColorstr='#017f73',GradientType=1 );
  /* IE6-9 */
  border-color: transparent; }

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll; }

.content {
  background: white;
  margin: 60px 0px 15px 0;
  padding: 5px 20px 20px 20px;
  display: block;
  box-sizing: border-box;
  min-height: 300px; }

#page-content-wrapper,
#sidebar-wrapper {
  margin-top: 120px; }

.sidebar-nav {
  padding-top: 40px; }

.logged-user {
  width: 230px;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: right; }
  .logged-user .profile {
    font-size: 80%; }
  .logged-user .username {
    font-weight: 600; }
  .logged-user .logout {
    padding: 10px;
    border-left: 1px solid white; }
    .logged-user .logout a {
      color: white;
      font-weight: 600; }

.logo {
  max-width: 130px;
  max-height: 90px; }

.grid-spinner {
  margin-top: -320px; }

.form-spinner {
  margin-top: 200px; }

.form-spinner,
.grid-spinner {
  position: relative; }
  .form-spinner img,
  .grid-spinner img {
    width: 100px; }

.grid-message {
  margin-top: -260px; }

.search-input {
  margin-top: 15px; }
  .search-input .btn {
    cursor: default; }
