.ui-grid-header-canvas {
  background: #89909A; }

.ui-grid-header-cell {
  border-right: 0;
  color: white;
  text-transform: uppercase; }

.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: white; }

.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #EEEEEE; }

.ui-grid-cell {
  border-bottom: 1px solid #d4d4d4;
  border-right: 0; }

.ui-grid-cell .btn-default {
  margin-top: 4px;
  margin-right: 4px; }

.ui-grid-cell-contents {
  padding: 8px; }

.ui-grid-custom-pagination {
  margin-top: -65px; }

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
  border-right-color: #d4d4d4; }

.ui-grid-selection-row-header-buttons {
  opacity: .5; }

.ui-grid-cell input[type=text],
.ui-grid-cell input[type=number] {
  background: rgba(91, 192, 222, 0.37);
  line-height: 37px !important;
  height: 37px !important;
  padding-left: 8px !important;
  border: 1px dashed rgba(128, 128, 128, 0.7) !important; }

[ui-grid-selection] .ui-grid-cell-focus {
  outline: 0;
  background-color: transparent;
  border: 1px dashed rgba(128, 128, 128, 0.7) !important; }

[ui-grid-selection] .ui-grid-disable-selection .ui-grid-cell-focus,
[ui-grid-selection] .ui-grid-cell-focus.ui-grid-selection-row-header-buttons {
  border: 0 !important; }

[ui-grid-selection] .ui-grid-row > [ui-grid-row] > .ui-grid-cell {
  color: #AFAFAF; }

[ui-grid-selection] .ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  color: inherit;
  opacity: 1; }

[ui-grid-selection] .ui-grid-row:nth-child(odd).ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: white; }

[ui-grid-selection] .ui-grid-row:nth-child(even).ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #EEEEEE; }

[ui-grid-selection] .ui-grid-disable-selection .ui-grid-cell-contents {
  padding: 0; }
  [ui-grid-selection] .ui-grid-disable-selection .ui-grid-cell-contents .ui-grid-selection-row-header-buttons {
    padding: 9px 5px 4px 5px; }
