<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">

<head>
    <meta name="fragment" content="!">
    <title>Washer</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- build:css css/style.css-->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/angular-ui-grid/ui-grid.min.css">
    <link rel="stylesheet" href="assets/css/simple-sidebar.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.override.css">
    <link rel="stylesheet" href="assets/css/ui-grid.override.css">
    <link rel="stylesheet" href="assets/css/form.css">
    <!-- endbuild -->

    <!-- build:js js/vendor.js-->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angular-ui-grid/ui-grid.min.js"></script>
    <script src="node_modules/angular-ui-mask/dist/mask.min.js"></script>
    <script src="app/custom-libs/ui-mask-filter.js"></script>
    <script src="app/custom-libs/ui-bootstrap-pagination-tpls-2.5.0.min.js"></script>
    <!-- endbuild -->

    <!-- build:js js/script.js-->
    <script src="app.config.js"></script>
    <script src="auth.config.js"></script>
    <script src="app/app.js"></script>
    <script src="app/app.interceptor.js"></script>
    <script src="app/route.js"></script>

    <script src="app/common/common.module.js"></script>
    <script src="app/common/api.service.js"></script>
    <script src="app/common/field-wrapper.js"></script>
    <script src="app/common/user.controller.js"></script>
    <script src="app/common/menu.controller.js"></script>
    <script src="app/common/format-empty.filter.js"></script>
    <script src="app/common/multipart-form.service.js"></script>
    <script src="app/common/file-model.directive.js"></script>
    <script src="app/common/password-verify.directive.js"></script>

    <script src="app/franquia/list.controller.js"></script>
    <script src="app/franquia/form.controller.js"></script>

    <script src="app/loja/list.controller.js"></script>
    <script src="app/loja/form.controller.js"></script>
    <script src="app/loja-servicos/list.controller.js"></script>
    <script src="app/loja-servicos/form.controller.js"></script>
    <script src="app/loja-lavaveis/manage-washables.controller.js"></script>

    <script src="app/user-configuration/form.controller.js"></script>

    <script src="app/init-app.js"></script>
    <!-- endbuild -->

</head>

<body class='ng-hide'>

    <nav ng-controller="UserCtrl" class="navbar navbar-default navbar-fixed-top">
        <div>
            <a href="#/">
                <img class="logo" src="assets/img/logo.svg">
            </a>
            <div class="pull-right row logged-user">
                <div class="col-xs-8">
                    <div class="profile">{{profile}}</div>
                    <div class="username">{{userName}}</div>
                </div>
                <div class="col-xs-3 logout">
                    <a href="javascript:void(0)" ng-click="logout()">
                    Sair
                </a>
                </div>
            </div>
        </div>
    </nav>
    <div ng-controller="MenuCtrl" id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <!--ul class="sidebar-nav">
                <li>
                    <a ng-class="{selected : (isMenuSelected('franquias'))}" href="#/franquias">FRANQUIAS</a>
                </li>
                <li>
                    <a ng-class="{selected : (isMenuSelected('lojas'))}" href="#/lojas">LOJAS</a>
                </li>
            </ul-->
            <ul class="sidebar-nav">
                <li ng-repeat="menu in menuItems">
                    <a  
                        href="{{menu.location}}"
                        ng-class="{selected : (isMenuSelected(menu.section))}">{{menu.title}}</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid ng-view">
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

</body>

</html>