@import"https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700";

body .btn-primary{
  background-color: #32b0b3;
  border-color: #30A4A7;
}

body .btn-primary:hover{
  background-color: #30A4A7;
  border-color: #30A4A7;
}

body a:focus, body a:hover, body a{
  color: #545454;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f8f8f8;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #7D7D7D;
    font-size: 18px;
    overflow-y: scroll;
    padding-bottom: 50px;
}

body article .description p{
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #333;
}

footer{
  padding-top: 60px;
  padding-bottom: 10px;
  border-bottom: 15px solid #32B0B3;
  padding-left: 15px;
  padding-right: 15px;
}

footer p{
  padding-bottom: 5px;
}

div.container{
  background: white;
  margin-top: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.padding-bottom{
  padding-bottom: 20px !important;
}

.padding-top{
  padding-top: 20px !important;
}

.margin-bottom{
  margin-bottom: 20px !important;
}

.margin-top{
  margin-top: 20px !important;
}


canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 50px;
    margin: 6px 0 0 6px;
}

.zoom-image{
	display: block;
	overflow: hidden;
	position: relative;
}

.zoom-image img {
    -webkit-transition: all 300ms ease, opacity 300ms; /* Safari and Chrome */
    -moz-transition: all 300ms ease, opacity 300ms; /* Firefox */
    -o-transition: all 300ms ease, opacity 300ms; /* IE 9 */
    -ms-transition: all 300ms ease, opacity 300ms; /* Opera */
    transition: all 300ms ease, opacity 300ms;
	max-width: 100%;
}
.zoom-image:hover img {
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
}

h2, h2 a{
  font-size: 25px !important;
  font-weight: bold;
}

h3, h2 a{
  font-size: 25px !important;
}


.btn {
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    font-size: 20px
}

.well, .navbar-default{
  border-radius: 0;
  background: #f8f8f8;
  border-color: #ececec;
}

.search-input{
  margin-top: 8px;
}

.search-input input{
  border: 1px solid #ececec;
}

.navbar .container-fluid{
  padding-left: 0px;
}

.backto {
    background: #039;
    padding: 12px 0;
    color: #fff
}

.backto a {
    color: #FFF;
    text-decoration: none
}

.dropdown-menu{
  font-size: 100%;
}

.cards-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.thumbnail {
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.thumbnail>img {
    width: 100%;
    display: block
}

.thumbnail h3 {
    font-size: 26px
}

.thumbnail h3, .card-description {
    margin: 0;
    padding: 8px 0;
    border-bottom: solid 1px #eee;
    text-align: justify
}

.thumbnail .card-description{
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail p {
    padding-top: 8px;
    font-size: 20px
}

.tags{
	margin:0;
	padding:0;
	right:40px;
	list-style:none;
}
.tags li, .tags a{
  display: inline-block;
	height:40px;
	line-height:40px;
  margin-bottom: 10px;
  margin-right: 10px;
	position:relative;
}
.tags a{
	margin-left:10px;
	padding:0 20px 0 18px;
	background:#32B0B3;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}
.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-20px;
	width:0;
	height:0;
	border-color:transparent #32B0B3 transparent transparent;
	border-style:solid;
	border-width:20px 20px 20px 0;
}
.tags a:after{
	content:"";
	position:absolute;
	top:18px;
	left:0px;
	float:left;
	width:8px;
	height:8px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#fff;
	-moz-box-shadow:-2px -2px 4px #004977;
	-webkit-box-shadow:-2px -2px 4px #004977;
	box-shadow:-2px -2px 4px #004977;
}


.tags a:hover {
    background: #76b1b3;
    color: white;
}

.tags a:hover:before {
    border-color: transparent #76b1b3 transparent transparent;
}
