<div class="text-center">
    <a ng-if="!row.entity.default" title="Remover peça" ng-click="grid.appScope.onDeleteWashable(row.entity)" href="javascript:void(0)" class="btn btn-danger btn-default btn-sm">
        <span class="glyphicon glyphicon-trash"></span> 
    </a>
</div>