<a ng-click="onAddNewWashable()" href="javascript:void(0)" type="button" class="btn btn-form btn-primary pull-right">Adicionar peça</a>
<div class="content">
        <div class="text-center" ng-show="error">
            <div class="alert alert-danger fade in" ng-switch="error">
                <a href="javascript:void(0)" ng-click="error = '';" class="close" aria-label="close">&times;</a>
                <span ng-switch-when="409">Loja já existente.</span>
                <span ng-switch-when="400">
                    <span ng-if="!errorMessage">Ocorreu um erro de validação, confira os dados preenchidos.</span>
                    <span ng-if="errorMessage">{{errorMessage}}</span>
                </span>
                <span ng-switch-default>Ocorreu um erro interno, verifique se o servidor está disponível.</span>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <h3>GERENCIAR PEÇAS DA LOJA</h3>
        </div>
        <div class="col-md-6">
            <div class="input-group search-input pull-right">
                <input ng-change="filter()" ng-model="filterValue" type="text" class="form-control" placeholder="Buscar peça">
                <div class="input-group-btn">
                    <button class="btn btn-form btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ui-grid="gridOptions" ui-grid-edit>
        <div class="grid-spinner text-center" ng-show="loading">
            <img src="../assets/img/loading.gif">
        </div>
        <div class="grid-message text-center">
            <h4 ng-show="(gridOptions.data && gridOptions.data.length === 0 && !loading && !error)">
                Nenhum registro encontrado.
            </h4>
            <h4 ng-show="error">
                Ocorreu um erro ao retornar os dados.
            </h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button ng-click="save()" ng-disabled="loading" type="button" class="btn btn-form btn-primary pull-right">
            <i class="glyphicon glyphicon-ok"></i> Salvar alterações</button>
    </div>
</div>