<a ng-click="onBackClick()" href="javascript:void(0)" type="button" class="btn btn-form btn-default pull-left">
    <i class="glyphicon glyphicon-chevron-left"></i> VOLTAR
</a>

<div ng-show="!loading">
    <div class="content">
        <h3 ng-if="id !== 'novo'">DADOS DO SERVIÇO</h3>
        <h3 ng-if="id === 'novo'">CRIAR NOVO SERVIÇO</h3>
        <form name="form" novalidate ng-show="!loading" ng-submit="saveForm($event)">
            <div class="text-center" ng-show="error">
                <div class="alert alert-danger fade in" ng-switch="error">
                    <a href="javascript:void(0)" class="close" ng-click="error = '';" aria-label="close">&times;</a>
                    <span ng-switch-when="409">Serviço já existente.</span>
                    <span ng-switch-when="400">Ocorreu um erro de validação, confira os dados preenchidos.</span>
                    <span ng-switch-default>Ocorreu um erro interno, verifique se o servidor está disponível.</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <field-wrapper class="thumbnail" field-title="Ícone" field-name="icon" form="form">
                        <input 
                            file-model="service.icon"
                            image-preview
                            name="iconFile"
                            type="file"
                            class="form-control">
                        <input ng-model="service.icon" required type="hidden" name="icon">
                    </field-wrapper>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-9">
                            <field-wrapper field-title="Nome do serviço" field-name="name" is-required-field="true" form="form">
                                <input required ng-model="service.name" name="name" type="text" class="form-control">
                            </field-wrapper>
                        </div>
                        <div class="col-md-3">
                            <field-wrapper field-title="Preço" field-name="price" is-required-field="true" form="form">
                                <input required ng-model="service.price" name="price" type="number" class="form-control">
                            </field-wrapper>
                        </div>
                    </div>
                    <field-wrapper field-title="Descrição" field-name="description" is-required-field="true" form="form">
                        <input required ng-model="service.description" name="description" type="text" class="form-control">
                    </field-wrapper>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-form btn-primary pull-right"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
                    <button type="button" ng-if="(id !== 'novo') && (service.enabled === true)" ng-click="disableAction()" class="btn btn-form btn-danger pull-right margin-right-10"><i class="glyphicon glyphicon-download"></i> Desabilitar serviço</button>
                    <button type="button" ng-if="(id !== 'novo') && (service.enabled === false)" ng-click="enableAction()" class="btn btn-form btn-success pull-right margin-right-10"><i class="glyphicon glyphicon-upload"></i> Habilitar serviço</button>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="text-center form-spinner" ng-show="loading">
    <img src="../assets/img/loading.gif">
</div>