h3.form-header{
    font-size: 14px;
    border-bottom: 2px solid #FF2A00;
    color: #FF2A00;
    padding-top: 20px;
    margin-bottom: 15px;
}

label{
    text-transform: uppercase;
    font-size: 12px;
}

.form-check-label{
    text-transform: none;
}

h3{
    text-transform: uppercase;
}

form{
    .form-control{
        padding: 10px;
    }
}

.form-control {
    height: auto;
    border-radius: 0;
  }

  .has-error .form-control,
  .has-error .form-control:focus{
    border-color: #ebcccc;
  }

.has-error .form-control-feedback {
    color: #ef9898;
}

.has-feedback label~.form-control-feedback {
    top: 30px;
}

.margin-left-10{
    margin-left: 10px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-top-20{
    margin-top: 20px;
}

.image-preview{
    cursor: pointer;
    margin-bottom: 10px;
}

.image-preview-hidden{
    visibility: hidden;
    position: absolute;
}

option[value="?"] {
    display:none;
}