<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="resetPasswordApp" lang="pt-BR">

<head>
    <meta name="fragment" content="!">
    <title>Washer Reset password</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- build:css css/style.css-->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/simple-sidebar.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.override.css">
    <link rel="stylesheet" href="../assets/css/form.css">
    <!-- endbuild -->

    <!-- build:js js/script.js-->
    <script src="../node_modules/angular/angular.min.js"></script>

    <script src="../app/common/common.module.js"></script>

    
    <script type="text/ng-template" id="app/common/field-wrapper.html">
        <div ng-class="['form-group', 'has-feedback', {'has-error' : (form.$submitted && form[fieldName].$error)}]">
            <label>{{fieldTitle}} <span ng-if="isRequiredField">*</span></label>
            <ng-transclude title="{{fieldTip}}"></ng-transclude>
            <div class="alert alert-danger" ng-if="form.$submitted && form[fieldName].$error.required">
                <strong>*</strong> Preencha o campo {{fieldTitle}}
            </div>
            <div class="alert alert-danger" ng-if="form.$submitted && form[fieldName].$error.email">
                <strong>*</strong> Digite um E-mail válido
            </div>
            <div class="alert alert-danger" ng-if="form.$submitted && form[fieldName].$error.passwordVerify">
                <strong>*</strong> As senhas não coincidem
            </div>
            <span ng-if="form.$submitted && form[fieldName].$error.required" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        </div>
    </script>
    <script src="../app/common/field-wrapper.js"></script>
    <script src="../app/common/password-verify.directive.js"></script>

    <script src="../app.config.js"></script>
    <script src="../auth.config.js"></script>
    <script src="reset-password.controller.js"></script>
    <script src="reset-password.service.js"></script>
    <!-- endbuild -->
</head>

<body class="login" ng-controller="resetPasswordController">
    <div class="container">
        <div class="wrapper">
            <form
                autocomplete="off"
                ng-show="showResetPassword"
                ng-submit="resetPassword($event)"
                name="form"
                class="form-signin"
                novalidate>
                <h3 class="form-signin-heading">
                    <img class="logo" src="../assets/img/logo-login.svg">
                </h3>
                <div class="row">
                    <field-wrapper class="col-md-12" field-title="Nova senha" field-name="newPassword" is-required-field="true" form="form">
                        <input autocomplete="new-password" autocomplete="off" required ng-model="reset.newPassword" name="newPassword" type="password" class="form-control">
                    </field-wrapper>
                </div>
                <div class="row">
                    <field-wrapper class="col-md-12" field-title="Confirme a nova senha" field-name="repeatNewPassword" is-required-field="true" form="form">
                        <input autocomplete="new-password" required data-password-verify="reset.newPassword" ng-model="verifyNewPassword" name="repeatNewPassword" type="password" class="form-control">
                    </field-wrapper>
                </div>
                <button
                    ng-disabled="loading"
                    ng-class="{'loading-cursor' : (loading)}"
                    class="btn btn-form btn-md btn-primary btn-block margin-top-20"
                    name="Submit" value="Login"
                    type="Submit">REDEFINIR SENHA</button>
            </form>
            <form ng-show="showResetPasswordResult" class="form-signin">
                <h3 class="form-signin-heading">
                    <img class="logo" src="../assets/img/logo-login.svg">
                </h3>
                <div class="text-center" ng-show="error">
                    <div class="alert alert-danger fade in" ng-switch="error">
                        <span ng-switch-default>Ocorreu um erro interno, verifique se o servidor está disponível.</span>
                    </div>
                    <a 
                        class="forget-password pull-right margin-top-20 btn btn-default"
                        href="javascript:void(0)"
                        ng-click="showPage('showResetPassword'); error = false;">
                    <i class="glyphicon glyphicon-chevron-left"></i> Voltar</a>
                </div>
                <div class="alert alert-success fade in" ng-if="!error">
                    <span>Sua senha foi alterada com sucesso, aguarde um instante para ser redirecionado.</span>
                </div>
            </form>
            <div class="text-center form-spinner" ng-show="loading">
                    <img src="../assets/img/loading.gif" style="
                        width: 40px;
                        margin-top: -99px;">
                </div>
        </div>
    </div>
</body>

</html>