<!--
<div ng-controller="CarouselDemoCtrl">
  <div style="height: 305px">
  <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
      <img ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Slide {{slide.id}}</h4>
        <p>{{slide.text}}</p>
      </div>
    </uib-slide>
  </uib-carousel>
</div>
</div>
-->


<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- First Blog Post -->
        <div class="row">
          <article class="col-md-12 margin-top" ng-repeat="p in posts">
              <div class="row">
                <h2 class="col-md-8" ng-bind="p.title"></h2>
                <div class="col-md-4">
                    <p class="pull-right"><span class="glyphicon glyphicon-time"></span> Postado em <span ng-bind="p.date_string"></span></p>
                </div>
                <div class="col-md-12">
                  <hr>
                </div>
                <div class="col-md-12">
                  <img class="img-responsive" ng-src="{{p.thumb}}" alt="">
                </div>
                <div class="description col-md-12 margin-top margin-bottom" ng-bind-html="p.small_desc">
                </div>
                <div class="col-md-12">
                  <a href="#!/post/{{p.id}}" class="btn btn-primary btn-lg margin-bottom" href="#">Leia mais <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </div>
          </article>
        </div>
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Categories Well -->
        <div class="well">
            <h3>Tags</h3>
            <div class="margin-top">
                <ul class="tags">
                    <li class="" ng-repeat="tag in tags">
                        <a href="#!/tag/{{tag}}" ng-bind="tag"></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Facebook page -->
        <div class="well">
            <div class="fb-page" data-href="https://www.facebook.com/priscilatambalodesign/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/priscilatambalodesign/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/priscilatambalodesign/">Priscila Tambalo Design de Interiores</a></blockquote>
            </div>
        </div>

    </div>

</div>
