<nav class="navbar navbar-default">
  <div class="container-fluid" ng-controller="MenuCtrl">
    <ul class="nav navbar-nav">
      <li ng-repeat="menu1 in menus" angular-smartmenus>
        <a href="{{menu1.url}}">{{menu1.title}} <span ng-if="hasChildren(menu1)" class="caret"></a>
        <ul class="dropdown-menu" ng-if="hasChildren(menu1)">
          <li ng-repeat="menu2 in menu1.menus">
            <a href="{{menu2.url}}">{{menu2.title}} <span ng-if="hasChildren(menu2)" class="caret"></a>
            <ul class="dropdown-menu" ng-if="hasChildren(menu2)">
              <li ng-repeat="menu3 in menu2.menus">
                <a href="{{menu3.url}}">{{menu3.title}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="../administration">Administração</a></li>
    </ul>
    <div class="input-group pull-right search-input col-md-3">
        <input placeholder="Buscar post" type="text" class="form-control">
    </div>
  </div>
</nav>
