<h1 class="portifolio-title">POST</h1>
<ul class="menu portifolio-menu">
   <li ng-click="selectCategory(0)"><a ng-class="{active: isMenuActive(0)}" href="">Todos</a><span>·</span></li>
   <li ng-repeat="c in categories" ng-click="selectCategory(c.id)"><a ng-class="{active: isMenuActive(c.id)}" href="" ng-bind="c.category"></a><span>·</span></li>
</ul>
<div class="portifolio">
    <div class="item" ng-repeat="p in projects | filterPortifolioByCategory:selectedCategory">
        <a class="zoom-image" href="#!/portifolio/{{p.id}}"><img class="post-thumb" ng-src="{{p.thumb}}"></a>
        <div ng-bind="p.title"></div>
    </div>
</div>
