<div class="row">
  <article class="col-md-8 margin-top">
    <div class="row">
      <h2 class="col-md-8" ng-bind="post.title"></h2>
      <div class="col-md-4">
        <p class="pull-right"><span class="glyphicon glyphicon-time"></span> Postado em <span ng-bind="post.date_string"></span></p>
      </div>
      <div class="col-md-12"><hr></div>
      <div class="col-md-12 margin-bottom">
        <div class="fb-share-button"
          data-layout="button_count"></div>
      </div>
      <div class="col-md-12"><img class="img-responsive" ng-src="{{post.thumb}}" alt=""></div>
      <div class="description margin-top margin-bottom col-md-12" ng-bind-html="post.body">
      </div>
    </div>
  </article>

  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">
      <!-- Blog Categories Well -->
      <div class="well">
          <h3>Tags</h3>
          <div class="margin-top">
            <ul class="tags">
              <li class="" ng-repeat="tag in post.tags"><a href="#!/tag/{{tag}}" ng-bind="tag"></a>
              </li>
            </ul>
          </div>
      </div>
  </div>

</div>
