<article>
  <div class="container-fluid cards-row">
    <h2 class="title margin-bottom">Posts com a TAG "{{selected_tag}}"</h2>
      <div class="row">
        <div class="col-sm-6 col-md-6" ng-repeat="p in posts | filter : {tags : selected_tag}">
          <div class="thumbnail">
            <img ng-src="{{p.thumb}}">
            <div class="caption">
              <h3 ng-bind="p.title"></h3>
              <p class="card-description" ng-bind-html="p.small_desc"></p>
              <div class="margin-top">
                <a href="#!/post/{{p.id}}" class="btn btn-primary" role="button">Leia mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</article>
