<div class="text-center">
    <a title="Editar loja" ng-click="grid.appScope.onEditClick(row.entity)" href="javascript:void(0)" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil"></span> 
    </a>
</div>