<a href="#/lojas/novo" type="button" class="btn btn-form btn-primary pull-right">Adicionar loja</a>
<div class="content">
    <div class="row">
        <div class="col-md-6">
            <h3>LOJAS</h3>
        </div>
        <div class="col-md-6">
            <div class="input-group search-input pull-right">
                <input ng-change="filter()" ng-model="filterValue" type="text" class="form-control" placeholder="Buscar loja">
                <div class="input-group-btn">
                    <button class="btn btn-form btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ui-grid="gridOptions" ui-grid-pagination>
        <div class="grid-spinner text-center" ng-show="loading">
            <img src="../assets/img/loading.gif">
        </div>
        <div class="grid-message text-center">
            <h4 ng-show="(gridOptions.data && gridOptions.data.length === 0 && !loading && !error)">
                Nenhum registro encontrado.
            </h4>
            <h4 ng-show="error">
                Ocorreu um erro ao retornar os dados.
            </h4>
        </div>
    </div>
    <ng-include ng-show="(gridOptions.data && gridOptions.data.length > 0)" src="'app/common/pagination.html'"></ng-include>
</div>