<div class="loading" loading-indicator></div>
<a href="#!/" class="highlight btn btn-default">← Voltar</a>
<input type="button" ng-click="save()" value="Salvar" class="btn btn-default btn-primary pull-right">


<div class="row margin-bottom margin-top">
  <div class="col-lg-4">
    <div class="input-group">
          <span class="input-group-addon" id="sizing-addon1">Título</span>
          <input type="text" ng-model="post.title" class="form-control">
    </div>
  </div>

  <div class="col-lg-4">
    <div class="input-group">
          <span class="input-group-addon" id="sizing-addon1">Ordem</span>
          <input type="text" ng-model="post.position" class="form-control">
    </div>
  </div>

  <div class="col-lg-4">
    <div class="input-group">
          <span class="input-group-addon" id="sizing-addon1">Tipo de conteúdo</span>
          <select type="text" ng-model="post.content_type" ng-options="item.value as item.title for item in contentTypes" class="form-control">
          </select>
    </div>
  </div>

</div>

<div class="row margin-bottom margin-top">
  <div class="col-lg-4">
    <div class="input-group">
          <span class="input-group-addon" id="sizing-addon1">Menu/Grupo</span>
          <select type="text" ng-model="post.menu_group" ng-options="item.group as item.title for item in menus" class="form-control">
          </select>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="input-group">
          <span class="input-group-addon" id="sizing-addon1">Data de postagem</span>
          <input type="text" ng-model="post.date_string" class="form-control">
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">TAGS</div>
  <div class="panel-body">
    <div class="bootstrap-tagsinput panel panel-default col-lg-12">
      <span ng-repeat="tag in post.tags" class="tag label label-info">{{tag}}<span data-role="remove" ng-click="removeTag(tag)"></span></span>
    </div>


    <div class="input-group col-lg-4">
      <span class="input-group-addon">Nome da tag</span>
      <input type="text" class="form-control" ng-model="tagName" on-enter="addTag()">
      <span class="input-group-addon btn btn-default" ng-click="addTag()" ><span class="glyphicon glyphicon-plus"></span> Adicionar</span>
    </div>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Imagem principal(220x170)</div>
    <div class="panel-body">
      <div class="input-group margin-bottom">
            <span class="input-group-addon" id="sizing-addon1">Url</span>
            <input type="text" ng-model="post.thumb" class="form-control">
      </div>
      <img src="img/file-loader.gif" ng-show="thumbUploader.isUploading">
    	<input type="file" nv-file-select="" uploader="thumbUploader">
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Descrição Curta</div>
    <div class="panel-body">
      <text-angular type="text" ng-model="post.small_desc" class="col-lg-12"></text-angular>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Upload de imagens do conteúdo</div>
    <div class="panel-body">
      <input type="file" nv-file-select="" uploader="uploader" multiple="">
    	<img src="img/file-loader.gif" ng-show="uploader.isUploading">
      <div class="panel panel-default margin-top col-lg-6">
        <table class="table">
        	<tr ng-repeat="item in uploader.queue" ng-visible="uploader.getNotUploadedItems().length">
        		<td class="thumb-upload-img">
        		  <!--<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 50 }"></div>-->
              <img ng-src="img/posts/{{item.file.name}}">
        		</td>
            <td ng-bind="item.file.name">
            </td>
        		<td><a href="javascript:void(0)" ng-click="item.remove()" class="btn btn-default btn-primary pull-right">remover</a></td>
        	</tr>
      	</table>
    </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Conteúdo</div>
    <div class="panel-body">
      <text-angular type="text" ng-model="post.body" class="col-lg-12 "></text-angular>
    </div>
</div>


<input type="button" ng-click="save()" value="Salvar" class="btn btn-default btn-primary pull-right">
