<div class="loading" loading-indicator></div>
<div class="loginContainer">
	<label>Login</label>
	<input type="text" ng-model="loginData.user">
	<label>Password</label>
	<input type="password" ng-model="loginData.pass">
	<div class="error" ng-bind="error"></div>
	<div>
		<input type="button" value="Login" ng-click="login()">
	</div>
</div>
