<div class="loading" loading-indicator></div>
<a href="#!/create/" class="btn btn-default">→ Criar novo post</a>
<div class="panel panel-default margin-top">
    <table class="table padding-top panel">
        <tr>
            <td>Imagem</td>
            <td>Ordem</td>
            <td>Título</td>
            <td>Menu/Grupo</td>
            <td>Tipo de conteúdo</td>
            <td></td>
        </tr>
        <tr ng-repeat="post in posts">
            <td><img class="admin-img-post" ng-src="{{post.thumb}}"></td>
            <td>
      	  <input type="text" ng-model="post.position" style="width: 30px; height: 20px;">
    	</td>
            <td ng-bind="post.title"></td>
            <td ng-bind="post.menu_group"></td>
            <td ng-bind="post.content_type"></td>
            <td>
                <a class="admin-link-post"  href="#!/create/{{post.id}}">Editar</a>
                <a class="admin-link-post" href="" ng-click="deletePost(post)">Excluir</a>
            </td>
        </tr>
    </table>
</div>
<input type="button" value="Salvar ordem" ng-click="saveOrder()" class="btn btn-default btn-primary">

<a href="#!/create/" class="btn btn-default pull-right">→ Criar novo post</a>
