
<ul class="">
  <li ng-repeat="topMenu in menus">
    <div class="input-group">
      <span class="glyphicon glyphicon-chevron-right input-group-addon"></span>
      <div class="col-lg-12 nopadding">
        <input placeholder="Título" ng-model="topMenu.title" type="text" class="col-lg-4 form-control-style">
        <input placeholder="Grupo" ng-model="topMenu.group" type="text" class="col-lg-4 form-control-style">
        <input placeholder="URL" ng-model="topMenu.url" type="text" class="col-lg-4 form-control-style">
      </div>
      <div class="input-group-btn">
        <button ng-click="addChild(topMenu)" class="btn btn-default">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button ng-click="deleteChild(menus, topMenu)" class="btn btn-default">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>
    <ul class="list-group nopadding">
       <li ng-repeat="subMenu in topMenu.menus" class="submenu">
         <div class="input-group">
           <span class="glyphicon glyphicon-chevron-right input-group-addon"></span>
           <div class="col-lg-12 nopadding">
             <input ng-model="subMenu.title" type="text" class="col-lg-4 form-control-style">
             <input placeholder="Grupo" ng-model="subMenu.group" type="text" class="col-lg-4 form-control-style">
             <input placeholder="URL" ng-model="subMenu.url" type="text" class="col-lg-4 form-control-style">
           </div>
           <div class="input-group-btn">
             <button ng-click="addChild(subMenu)" class="btn btn-default">
               <span class="glyphicon glyphicon-plus"></span>
             </button>
             <button ng-click="deleteChild(topMenu.menus, subMenu)" class="btn btn-default">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
           </div>
         </div>


         <ul class="list-group nopadding">
            <li ng-repeat="menu3 in subMenu.menus" class="submenu">
              <div class="input-group">
                <span class="glyphicon glyphicon-chevron-right input-group-addon"></span>
                <div class="col-lg-12 nopadding">
                  <input ng-model="menu3.title" type="text" class="form-control-style col-lg-4">
                  <input placeholder="Grupo" ng-model="menu3.group" type="text" class="col-lg-4 form-control-style">
                  <input placeholder="URL" ng-model="menu3.url" type="text" class="col-lg-4 form-control-style">
                </div>

                <div class="input-group-btn">
                  <button ng-click="deleteChild(subMenu.menus, menu3)" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </div>
            </li>
          </ul>


       </li>
     </ul>
  </li>
</ul>
<button ng-click="addChild()" class="btn btn-default">Adicionar</button>
<button ng-click="save()" class="btn btn-default btn-primary">Salvar</button>
