<div ng-show="!loading">
    <div class="content">
        <h3>CONFIGURACÕES</h3>
        <form name="form" novalidate ng-show="!loading" ng-submit="saveForm($event)">
            <div class="text-center" ng-show="error">
                <div class="alert alert-danger fade in" ng-switch="error">
                    <a href="javascript:void(0)" class="close" ng-click="error = '';" aria-label="close">&times;</a>
                    <span ng-switch-when="409">Franquia já existente.</span>
                    <span ng-switch-when="400">Ocorreu um erro de validação, confira os dados preenchidos.</span>
                    <span ng-switch-default>Ocorreu um erro interno, verifique se o servidor está disponível.</span>
                </div>
            </div>
            <div class="text-center" ng-show="!error && success">
                <div class="alert alert-success fade in">
                    <span>Sua senha foi alterada com sucesso.</span>
                </div>
            </div>

            <div class="form-group">
                <h3 class="form-header">Redefinir senha</h3>
                <div class="row">
                    <field-wrapper class="col-md-6" field-title="Senha atual" field-name="currentPassword" is-required-field="true" form="form">
                        <input required ng-model="reset.currentPassword" name="currentPassword" type="password" class="form-control">
                    </field-wrapper>
                </div>
                <div class="row">
                    <field-wrapper class="col-md-6" field-title="Nova senha" field-name="newPassword" is-required-field="true" form="form">
                        <input required ng-model="reset.newPassword" name="newPassword" type="password" class="form-control">
                    </field-wrapper>
                </div>
                <div class="row">
                    <field-wrapper class="col-md-6" field-title="Confirme a nova senha" field-name="repeatNewPassword" is-required-field="true" form="form">
                        <input required data-password-verify="reset.newPassword" ng-model="verifyNewPassword" name="repeatNewPassword" type="password" class="form-control">
                    </field-wrapper>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-form btn-primary pull-right"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="text-center form-spinner" ng-show="loading">
    <img src="../assets/img/loading.gif">
</div>