.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.padding-bottom{
  padding-bottom: 20px !important;
}

.padding-top{
  padding-top: 20px !important;
}

.margin-bottom{
  margin-bottom: 20px !important;
}

.margin-top{
  margin-top: 20px !important;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f8f8f8;
    font-family: Helvetica, Arial, Sans-Serif;
    color: #7c7d7e;
    font-size: 10pt;
    overflow-y: scroll;
}

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 50px;
    margin: 6px 0 0 6px;
}

.zoom-image{
	width: 220px;
	height: 170px;
	display: block;
	overflow: hidden;
	position: relative;
}

.zoom-image img {
    -webkit-transition: all 300ms ease, opacity 300ms; /* Safari and Chrome */
    -moz-transition: all 300ms ease, opacity 300ms; /* Firefox */
    -o-transition: all 300ms ease, opacity 300ms; /* IE 9 */
    -ms-transition: all 300ms ease, opacity 300ms; /* Opera */
    transition: all 300ms ease, opacity 300ms;
	max-width: 100%;
}
.zoom-image:hover img {
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
}

.form-control-style{
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
