<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="loginApp" lang="pt-BR">

<head>
    <meta name="fragment" content="!">
    <title>Washer Login</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- build:css css/style.css-->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/simple-sidebar.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.override.css">
    <link rel="stylesheet" href="../assets/css/form.css">
    <!-- endbuild -->

    <!-- build:js js/script.js-->
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../app.config.js"></script>
    <script src="../auth.config.js"></script>
    <script src="login.controller.js"></script>
    <script src="login.service.js"></script>
    <!-- endbuild -->
</head>

<body class="login" ng-controller="loginController">
    <div class="container">
        <div class="wrapper">
            <form
                ng-show="showLogin"
                ng-submit="login($event)"
                name="formLogin"
                class="form-signin"
                novalidate>
                <h3 class="form-signin-heading">
                    <img class="logo" src="../assets/img/logo-login.svg">
                </h3>
                <input 
                    ng-disabled="loading"
                    ng-model="username" 
                    type="email" 
                    class="form-control" 
                    name="username"
                    placeholder="Email"
                    required>
                <div class="alert alert-danger"
                    ng-show="formLogin.$submitted && formLogin.username.$error.required">
                    <strong>*</strong> Preencha o email</div>
                <div class="alert alert-danger" 
                    ng-show="formLogin.$submitted && formLogin.username.$error.email">Email inválido!</div>
                <input 
                    ng-disabled="loading"
                    ng-model="password"
                    type="password"
                    class="form-control margin-top-20"
                    name="password"
                    placeholder="Senha"
                    required>
                <div class="alert alert-danger" 
                    ng-show="formLogin.$submitted && formLogin.password.$error.required">
                    <strong>*</strong> Preeencha a senha</div>
                <div class="alert alert-danger" 
                    ng-show="invalidCredentials">
                    Usuário ou senha inválidos</div>
                <button
                    ng-disabled="loading"
                    ng-class="{'loading-cursor' : (loading)}"
                    class="btn btn-form btn-md btn-primary btn-block margin-top-20"
                    name="Submit" value="Login"
                    type="Submit">ACESSAR</button>
                
                <a 
                    class="forget-password pull-right margin-top-20"
                    href="javascript:void(0)"
                    ng-click="showPage('showResetPassword')">Esqueceu a senha?</a>
            </form>
            <form
                ng-show="showResetPassword"
                ng-submit="resetPassword($event)"
                name="resetForm" class="form-signin"
                novalidate>
                <h3 class="form-signin-heading">
                    <img class="logo" src="../assets/img/logo-login.svg">
                </h3>
                <div class="text-center" ng-show="error">
                    <div class="alert alert-danger fade in" ng-switch="error">
                        <a href="javascript:void(0)" class="close" ng-click="error = '';" aria-label="close">&times;</a>
                        <span ng-switch-when="409">Loja já existente.</span>
                    </div>
                </div>
                <input
                    ng-disabled="loading"
                    ng-model="username" 
                    type="email" 
                    class="form-control" 
                    name="username"
                    placeholder="Email"
                    required=""
                    autofocus="">
                <div class="alert alert-danger"
                    ng-show="resetForm.$submitted && resetForm.username.$error.required">
                    <strong>*</strong> Preencha o email</div>
                <div class="alert alert-danger" 
                    ng-show="resetForm.$submitted && resetForm.username.$error.email">Email inválido!</div>
                <button
                    ng-disabled="loading"
                    ng-class="{'loading-cursor' : (loading)}"
                    class="btn btn-form btn-md btn-primary btn-block margin-top-20"
                    name="Submit"
                    value="Login"
                    type="Submit">RESETAR SENHA</button>
                <a 
                    class="forget-password pull-right margin-top-20 btn btn-default"
                    href="javascript:void(0)"
                    ng-click="showPage('showLogin')">
                    <i class="glyphicon glyphicon-chevron-left"></i> Voltar</a>
            </form>
            <form ng-show="showResetPasswordResult" class="form-signin">
                <h3 class="form-signin-heading">
                    <img class="logo" src="../assets/img/logo-login.svg">
                </h3>
                <div class="text-center" ng-show="error">
                    <div class="alert alert-danger fade in" ng-switch="error">
                        <span ng-switch-when="404">E-mail inexistente, verifique se digitou o seu E-mail corretamente.</span>
                        <span ng-switch-default>Ocorreu um erro interno, verifique se o servidor está disponível.</span>
                    </div>
                </div>
                <div class="alert alert-success fade in" ng-if="!error">
                    <span>Verifique seu e-mail para prosseguir com a alteração de sua senha.</span>
                </div>
                <a 
                    class="forget-password pull-right margin-top-20 btn btn-default"
                    href="javascript:void(0)"
                    ng-click="showPage('showLogin'); error = false;">
                    <i class="glyphicon glyphicon-chevron-left"></i> Voltar</a>
            </form>
            <div class="text-center form-spinner" ng-show="loading">
                    <img src="../assets/img/loading.gif" style="
                        width: 40px;
                        margin-top: -99px;">
                </div>
        </div>
    </div>
</body>

</html>