
    <div ng-class="['form-group', 'has-feedback', {'has-error' : (form.$submitted && form[fieldName].$error)}]">
        <label>{{fieldTitle}} <span ng-if="isRequiredField">*</span></label>
        <ng-transclude title="{{fieldTip}}"></ng-transclude>
        <div class="alert alert-danger" ng-if="form.$submitted && form[fieldName].$error.required">
            <strong>*</strong> Preencha o campo {{fieldTitle}}
        </div>
        <div class="alert alert-danger" ng-if="form.$submitted && form[fieldName].$error.email">
            <strong>*</strong> Digite um E-mail válido
        </div>
        <div class="alert alert-danger" ng-if="form.$submitted && form[fieldName].$error.passwordVerify">
            <strong>*</strong> As senhas não coincidem
        </div>
        <span ng-if="form.$submitted && form[fieldName].$error.required" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>