<div class="text-center ui-grid-custom-pagination">
    <ul uib-pagination 
        total-items="gridOptions.totalItems"
        ng-model="gridOptions.paginationCurrentPage"
        max-size="gridOptions.paginationPageSize"
        class="pagination-bg"
        boundary-links="true"
        force-ellipses="true"></ul>
</div>