<a href="#/franquias" type="button" class="btn btn-form btn-default pull-left">
    <i class="glyphicon glyphicon-chevron-left"></i> VOLTAR
</a>

<div ng-show="!loading">
    <div class="content">
        <h3 ng-if="id !== 'novo'">DADOS DA FRANQUIA</h3>
        <h3 ng-if="id === 'novo'">CRIAR NOVA FRANQUIA</h3>
        <form name="form" novalidate ng-show="!loading" ng-submit="saveForm($event)">
            <div class="text-center" ng-show="error">
                <div class="alert alert-danger fade in" ng-switch="error">
                    <a href="javascript:void(0)" class="close" ng-click="error = '';" aria-label="close">&times;</a>
                    <span ng-switch-when="409">Franquia já existente.</span>
                    <span ng-switch-when="400">Ocorreu um erro de validação, confira os dados preenchidos.</span>
                    <span ng-switch-default>Ocorreu um erro interno, verifique se o servidor está disponível.</span>
                </div>
            </div>

            <field-wrapper field-title="Nome fantasia" field-name="name" is-required-field="true" form="form">
                <input required ng-model="franquia.name" name="name" type="text" class="form-control">
            </field-wrapper>

            <field-wrapper field-title="Razão social" field-name="social_reason" is-required-field="true" form="form">
                <input required ng-model="franquia.social_reason" name="social_reason" type="text" class="form-control">
            </field-wrapper>

            <div class="row">
                <field-wrapper class="col-md-6" field-title="CNPJ" field-name="cnpj" is-required-field="true" form="form">
                    <input required ng-model="franquia.cnpj" name="cnpj" type="text" class="form-control" ui-mask="99.999.999/9999-99" ui-mask-placeholder
                        ui-mask-placeholder-char="_">
                </field-wrapper>

                <field-wrapper class="col-md-6" field-title="Inscrição estadual" field-name="ie" is-required-field="true" form="form">
                    <input required ng-model="franquia.ie" name="ie" type="text" class="form-control">
                </field-wrapper>
            </div>


            <div class="form-group">
                <h3 class="form-header">Endereço</h3>
                <div class="row">
                    <field-wrapper class="col-md-5" field-title="Logradouro" field-tip="EX:. Rua, Av, etc.." field-name="place" is-required-field="true" form="form">
                        <input required ng-model="franquia.address.place" name="place" type="text" class="form-control">
                    </field-wrapper>
                    <field-wrapper class="col-md-2" field-title="Número" field-name="number" is-required-field="true" form="form">
                        <input required ng-model="franquia.address.number" name="number" type="text" class="form-control">
                    </field-wrapper>
                    <field-wrapper class="col-md-5" field-title="Complemento" field-tip="EX:. AP02" field-name="complement" form="form">
                        <input ng-model="franquia.address.complement" name="complement" type="text" class="form-control">
                    </field-wrapper>
                    <field-wrapper class="col-md-5" field-title="Bairro" field-name="neighborhood" is-required-field="true" form="form">
                        <input required ng-model="franquia.address.neighborhood" name="neighborhood" type="text" class="form-control">
                    </field-wrapper>
                    <field-wrapper class="col-md-5" field-title="Cidade" field-name="city" is-required-field="true" form="form">
                        <input required ng-model="franquia.address.city" name="city" type="text" class="form-control">
                    </field-wrapper>
                    <field-wrapper class="col-md-2" field-title="Estado" field-name="state" is-required-field="true" form="form">
                        <input required ng-model="franquia.address.state" name="state" type="text" class="form-control">
                    </field-wrapper>
                    <field-wrapper class="col-md-3" field-title="Código postal(CEP)" field-name="postal_code" is-required-field="true" form="form">
                        <input required ng-model="franquia.address.postal_code" name="postal_code" type="text" class="form-control" ui-mask="99999-999"
                            ui-mask-placeholder ui-mask-placeholder-char="_">
                    </field-wrapper>
                    <field-wrapper class="col-md-3" field-title="Telefone" field-name="phone" is-required-field="true" form="form">
                        <input required ng-model="franquia.address.phone" name="phone" type="text" class="form-control">
                    </field-wrapper>
                </div>
            </div>

            <div class="form-group">
                <h3 class="form-header">Representante da franquia</h3>
                <div class="row">
                    <field-wrapper class="col-md-6" field-title="Nome completo" field-name="agentName" is-required-field="true" form="form">
                        <input required ng-model="franquia.agent.name" name="agentName" type="text" class="form-control">
                    </field-wrapper>

                    <field-wrapper class="col-md-6" field-title="E-mail" field-name="agentEmail" is-required-field="true" form="form">
                        <input required ng-model="franquia.agent.email" name="agentEmail" type="email" class="form-control">
                    </field-wrapper>

                    <field-wrapper class="col-md-6" field-title="CPF" field-name="agentCpf" is-required-field="true" form="form">
                        <input required ng-model="franquia.agent.cpf" name="agentCpf" type="text" class="form-control" ui-mask="999.999.999-99" ui-mask-placeholder
                            ui-mask-placeholder-char="_">
                    </field-wrapper>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-form btn-primary pull-right"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
                    <button type="button" ng-if="(id !== 'novo') && (franquia.enabled === true)" ng-click="disableAction()" class="btn btn-form btn-danger pull-right margin-right-10"><i class="glyphicon glyphicon-download"></i> Desabilitar franquia</button>
                    <button type="button" ng-if="(id !== 'novo') && (franquia.enabled === false)" ng-click="enableAction()" class="btn btn-form btn-success pull-right margin-right-10"><i class="glyphicon glyphicon-upload"></i> Habilitar franquia</button>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="text-center form-spinner" ng-show="loading">
    <img src="../assets/img/loading.gif">
</div>